/* .section + .heroSection */
section.heroSection {
  padding-top: 200px;
  height: 710px;
  background-color: var(--light-gray-E6);
  background-image: url('/images/nevy-blue1.svg');
  background-size: cover;

}

.testimonialSection {
  background-color: var(--white);
  background-image: url('/images/testimonalMainContainer.svg');
}

.newsSection {
  background-color: var(--light-gray-E6);
}

.partnerSection {
  background-color: var(--white);
}

.contactusSection {
  background-color: var(--navy-blue);
}

.footer1 {
  background-color: var(--dark-purple);
}

.footer2 {
  background-color: var(--dark-purple2);
}

@media only screen and (max-width: 600px) {
  .heroSection{
    padding-top: 175px;
    height: 85vh;
  }
}
